@page
@model IndexModel
@{
	ViewData["Title"] = "Informacje";
}

<h2 class="display-6 mb-4">Aplikacja demonstracyjna Sim Web</h2>

<p>Wizualizacja symulacji z wykorzystaniem programowania obiektowego w C# i Razor Pages.</p>
<p>Mapa typu torus.</p>

<img src="~/img/orc-big.png" alt="Big orc" />
